# Resend API Key — https://resend.com/api-keys
RESEND_API_KEY=

# Vercel KV (Upstash) — https://vercel.com/dashboard/stores then select your KV store > .env.local tab
KV_REST_API_URL=
KV_REST_API_TOKEN=
